@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,500,700,800&display=swap');

body {
    font-family: 'Inconsolata', sans-serif !important;
}

.cs-transition {
    transition: .5s !important;
}

.cs-pos {
    left: 0 !important;
    bottom: 0 !important;
}

.cs-d-grid {
    display: grid;
    grid-template-columns: 75% auto;
}

.cs-grid-item-one {
    grid-row: span 2;
}

.cs-rotate {
    transform: rotate(90deg);
}

.cs-ratio {
    aspect-ratio: 2/1 !important;
}

.cs-w {
    width: 1250px !important;
}

.cs-w-form {
    width: 50% !important;
}

.cs-w-two {
    width: 450px !important;
}

.cs-placeholder::placeholder {
    color: hsl(252, 6%, 83%) !important;
}

/*Background*/
.cs-bg-image {
    background: url('../assets/images/pattern-squiggly-line-bottom-desktop.svg') no-repeat bottom left,
                url('../assets/images/pattern-squiggly-line-top.svg') no-repeat top right,
                url('../assets/images/background-desktop.png') no-repeat center / 100% 100%;
}

.cs-bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.cs-bg-frame {
    background: url('../assets/images/pattern-ticket.svg') no-repeat center center / 100% 100%;
}

/*Font*/
.cs-tc-one {
    color: hsl(252, 6%, 83%) !important;
}

.cs-tc-two {
    color: hsl(7, 88%, 67%) !important;
}

.cs-tc-three {
    color: hsl(245, 15%, 58%) !important;
}

.cs-tc-gradient {
    background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%)); /* Your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.cs-fw-500 {
    font-weight: 500 !important;
}

.cs-fw-600 {
    font-weight: 600 !important;
}

.cs-fw-700 {
    font-weight: 700 !important;
}

.cs-fw-800 {
    font-weight: 800 !important;
}

/*Border*/
.cs-dashed-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='white' stroke-width='1' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 20px;
}

/*Buttons*/
.cs-btn {
    border: solid 3px hsl(7, 88%, 67%) !important;
    background-color: hsl(7, 88%, 67%) !important;
    color: hsl(248, 70%, 10%) !important;
    transition: .5s !important;
}

.cs-btn:hover, .cs-btn:focus {
    border: solid 3px hsl(248, 70%, 10%) !important;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
}

.cs-hover {
    position: relative;
}

.cs-hover:after {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    border: solid 2px transparent;
    border-radius: 1.5rem;
    transition: .5s;
}

.cs-hover:hover.cs-hover:after {
    border: solid 2px hsl(252, 6%, 83%);
}

/*Form Control*/
.cs-formcontrol {
    border: solid 1px hsl(252, 6%, 83%) !important;
    box-shadow: none !important;
}

.cs-hover-two {
    position: relative;
}

.cs-hover-two:after {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    border: solid 2px transparent;
    border-radius: .7rem;
    transition: .5s;
}

.cs-hover-two:hover.cs-hover-two:after {
    border: solid 2px hsl(252, 6%, 83%);
}

/*Image*/
.cs-img {
    max-height: 150px !important;
}

@media (max-width: 991px) {
    .cs-w {
        width: 100% !important;
    }
    
    .cs-w-form {
        width: 80% !important;
    }

    .cs-w-two {
        width: 75% !important;
    }

    .cs-bg-image {
        background: url('../assets/images/pattern-squiggly-line-bottom-desktop.svg') no-repeat bottom left,
                    url('../assets/images/pattern-squiggly-line-top.svg') no-repeat top right,
                    url('../assets/images/background-tablet.png') no-repeat center / 100% 100%;
    }
}